@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100px;
}
/* Background styling */
.background-clip{ 
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: grayscale(20%);
}
@media (min-aspect-ratio:16/9){
    .background-clip{
         width: 100%;
        height: auto;
    }
    
}

/* navbar styling */
.navbaritems {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap; 
    text-decoration: none ;
}
/* navbar animation on startup */
@keyframes dropDownAnimation {
    0% {
        transform: translateY(-100px); /* Start position above the center */
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        transform: translateY(200px); /* Stop at the center */
        opacity: 1; /* Full opacity */
    }
}
/* item properties and characteristics */
.navbaritems > div {
    flex: 1; 
    max-width: 300px;
    margin: 10px; 
    padding: 20px; 
    text-align: center; 
    position: relative;
    top:0;
    border: 0;
    font-size: x-large;
    font-weight: 800;
    animation: dropDownAnimation 6s ease forwards;
    transition: top 0.1s ease;
    
}
.navbaritems > div:hover {
    top: 10px;
}


.navbaritems a {
    color: #ffffff; 
    text-decoration: none; 
}


.navbaritems a:hover {
    color: #252663;
}

