@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100px;
    color: #eaeaea;

}
.background-clip{ 
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
    .background-clip{
         width: 100%;
        height: auto;
    }
    
}

*.hide { display: none !important;}

.container {
    position: relative;
    display: flex;
    height: 550px;
    width: 460px;
    padding: 32px;
    bottom: 250px;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 24px;
    text-align: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(20px);
}
.loader-widget {
    width: 360px;
    height: 420px;
}
.loader-widget h1{
    line-height: 1.3;
    margin-bottom: 32px;
    color: whitesmoke;
    text-shadow: 0 0 8px #81ecec;
}

.loader {
    display: flex;
    height: 240px;
    width: 240px;
    position: relative;
    top: 40px;
    left: 65px;
    border-radius: 50%;
    background: conic-gradient(rgba(202, 230, 231, 0.65) 0%, rgba(1, 182, 190, 0) 100%);
    animation: radarRotate 2s linear;
}
@keyframes radarRotate {
    100% {transform: rotate(-360deg);}    
}
.loader:before{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    left: calc(50% - 8px);
    border: 8px solid transparent;
    border-top: 120px solid #81ecec;
    filter: drop-shadow(0 0 12px #01b6be);
}
.loader-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 30px;
    left: 5px;
}
.loader-content button{
    position: relative;
    cursor: pointer;
    height: 240px;
    width: 240px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 50%;
    background-color: #15314d;
    color: #eaeaea;
    border: 0;
    box-shadow: 0 0 12px #81ecec;
}
.loader-content button:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: -2px;
    left: -2px;
    border: 2px solid #7ed6d4;
    border-radius: 50%;
    animation: btnRing 2s linear;
}
.loader-content button:hover {
    background-color: #1f3c4e;
}

@keyframes btnRing {
    60%, 100% {
        height: calc(100% + 60px);
        width: calc(100% + 60px);
        top: -32px;
        left: -32px;
        opacity: 0;
    }
    
}
.loader-content button:after {
    content: '';
    position: absolute;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #25476e, #c7ecee);
    z-index: -1;
    border-radius: 50%;
}
.content {
    display: flex;
    width: 100%;
    font-size: 64px;
    margin: 12px 0 32px 0;
    flex-direction: column;
}
.content input {
    margin: 5px 0px;
    position: relative;
    left: 120px;
    width: 120px;
    height: 50px;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 600;
    background-color: #9fb6b8;
}
#result{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    font-size: x-large;
    color: rgb(207, 225, 245);
    text-shadow: 0 0 2px #03eaf1, 0 0 1px #60f8be, 0 0 2px #34aee7;
    animation: fadeInOut 3s ease-in-out infinite alternate;
}
@keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
        opacity: 1;
    }
    
}