@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}
body{
    display: grid;
    place-content: center;
    padding-top: 100px;


}
/* Adjust background to fit screen  */
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: grayscale(20%);
}
@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
    
}
/* .container styling */
section.container{
    display: flex;
    background: transparent;
    backdrop-filter: blur(20px);
    width: 700px;
    height: 400px;
    box-shadow: 0px 10px 10px 0px #000;
    border-radius: 20px;
    position: relative;
}
/* left-box styling  */
section.container.left-box{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0;
    width: 250px;
    height: 400px;
    border-radius: 10px 0px 0px 10px;
}
.left-box h1{
    margin-top: 20px;
    margin-left: 25px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 3px;
    color: antiquewhite;
    
}
.p-g-t{
    text-align: center;
    display: grid;
    place-content: center;
    justify-content: start;
    margin: 10px;
    margin-left: 50px;
    row-gap: -16px;
}
.p-g-t h2{
    font-size: 1.3em;
    font-weight: 500;
    margin: 20px 0px;
}
/* Right-box styling containing inputs */

section.container.Right-box{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 400px;
    border-radius: 0px 10px 10px 0px;
}
.entries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0px;
    margin: 220px 120px 0 120px;
    gap: 30px;

}
/* input styling for value placement */
.entries input{
    margin: 10px 0px;
    width: 300px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 30px;
    font-size: 0.9rem;
}
.entries button{
    height: 40px;
    width: 150px;
    margin-top: 10px;
    padding: 10px 20px;
    border: 0;
    outline: none;
    font-size: medium;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s; 
}
/* additional styling for button events */
.entries button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(204, 216, 230, 0.5);
    background-color: #2fcabd;
  }
  /* Styling for result printout */
.result{
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
    bottom: 20px;
    width: 150px;
    height: 75px;
    border-radius: 10px 10px 10px 10px;
}
.result h1{
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 3px;
    animation: fadeInOut 3s ease-in-out infinite alternate;
}
/* animation for result output */
@keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
        opacity: 1;
    }
    
}
/* Additional style to highlight difference in Pass and Fail */
.pass {
    color: green;
    text-shadow: 0 0 2px #00ff00, 0 0 1px #00ff00, 0 0 2px #00ff00;
}
.fail {
    color: red;
    text-shadow: 0 0 2px #ff0000, 0 0 1px #ff0000, 0 0 2px #ff0000;
}
/* Watermark styling */
#Copyright {
    display: flex;
    place-content: center;
    padding-top: 50px;
    font-weight: 500;
}
